/* Container */
.container{
  max-width: 1024px;
}

/* Header Home */
.header-content h1 {
  padding-top: 1rem;
}

/* Menu - A */
#menu-a .menu-features {
  grid-template-columns: repeat(2, 1fr);
  grid-gap:2rem;
  margin-left: 6rem;
}

/* Header - A */
.header-a h1{
  padding-top: 0.5rem;
}

/* Menu - B */
#menu-b .menu-features {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

/* Header - B */
.header-reverse .lead{
  padding-top: 1rem;
}

/* Testimonials */
#testimonials .testimonials-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

/* Table Booking Form */
#booking .text-fields{
  grid-template-areas: 
    "name" 
    "email"
    "select"
    "message";
  grid-gap:1.2rem;
  margin-bottom: 1rem;
}

#booking .btn {
  margin-bottom: 2rem;
}

/* Services */
#services .services-grid{
  grid-template-columns: repeat(2, 1fr);
}

#services .service-content{
  margin: 2rem;
}

/* Footer */
#main-footer .footer-content-1{
  grid-template-columns: repeat(2, 1fr);
  grid-gap:1rem;
}

#main-footer .footer-content-1 .box-3{
  grid-column: 1 / span 2;
  margin-top: 2rem;
}

#main-footer .footer-content-2{
  grid-template-columns: repeat(2, 1fr);
  grid-gap:1rem;
}

#main-footer .footer-content-2 .social{
  grid-column: 1 / span 2;
  margin-top: 2rem;
}

/* About Page */

/* About Features */
#features .about-features{
  grid-template-columns: 1fr;
}

.about-features .feature-1,
.about-features .feature-2,
.about-features .feature-3 {
  display: grid;
  grid-template-areas: 
    "border"
    "content";
  margin: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.about-features .border{
  position: relative;
  left: 190px;
}

/* Section Team */
#team .team-grid{
  grid-template-columns: repeat(2, 1fr);
}

.team-grid .team-content .image{
  width: 350px;
  height: 350px;
  margin: 0;
}

/* History Section */
.history-grid .history-content .bottom-line{
  float: left;
  margin-left: 0.5rem;
}

.history-grid h1,
.history-grid p {
  text-align: start;
  margin-left: 0.5rem;
}

/* Width 768 */
@media(max-width: 768px){
  /* Menu - A */
  #menu-a .menu-features {
    margin-left: 1.5rem;
  }

  /* Headers */
  .header-content .overlay > *{
    margin-left:1rem;
  }

  .header .overlay > *{
    margin-left: 1rem;
  }

  .header .overlay-2 .bottom-line{
    margin-left: 21rem;
  }

  .header-reverse .overlay > * {
    margin-right: 1rem;
  }

  /* About Page */
  .about-features .border{
    position: relative;
    left: 190px;
  }

  #about img{
    width: 630px;
    height: 450px;
    margin: 2.5rem 0;
  }

  /* Order Form */
  #order .text-fields{
    grid-template-areas: 
      "name email" 
      "adress phone" 
      "select ordinal"
      "message message";
  }
}

/* Width 600 */
@media(max-width: 600px){
  /* Main Nav */
  .main-nav {
    flex-direction: column; 
  }
  
  #logo {
    height: 80px;
    width: 120px;
  }

  /* Header Home */
  .header-content .overlay{
    height: 100vh;
  }
  
  .header-content h1 {
    font-size: 3rem;
  }
  .header-content h1,
  .header-content p {
    padding-top: 3rem;
  }

  .header-content p{
    font-size: small;
  }

  .header-content .btn {
    margin-top: 5rem;
  }

  /* Menu - A */
  #menu-a .menu-features {
    grid-template-columns: 1fr;
    grid-gap:2rem;
    margin-left:0;
  }

  #menu-a .menu-features {
    margin-left:0;
  }

  #menu-a .menu-images-1 {
    width: 100%;
  }
  #menu-a .menu-images-2 {
    width: 100%;
  }
  #menu-a .menu-images-3 {
    width: 100%;
  }
  #menu-a .menu-images-4 {
    width: 100%;
  }
  #menu-a .menu-images-5 {
    width: 100%;
  }
  #menu-a .menu-images-6 {
    width: 100%;
  }

  #menu-a .menu-features .overlay{
    width: 100%;
  }
  
  #menu-a .menu-features .overlay .border {
    display: none;
  }

  /* Header - A */
  .header-a h1{
    font-size: 3rem;
  }

  .header-a p{
    font-size: small;
  }

  /* Menu - B */
  #menu-b .menu-features {
    grid-template-columns: 1fr;
    grid-gap: 6rem;
  }

  /* Header - B */
  .header-b h1{
    font-size: 3rem;
  }

  .header-b p{
    font-size: small;
  }

  .header-reverse .lead{
    font-size: 2rem;
  }

  /* Testimonials */
  #testimonials .testimonials-grid {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .testimonials-grid .image-content{
    margin-bottom: 3rem;
  }

  /* Services */
  #services .services-grid{
    grid-template-columns:1fr;
  }

  /* Header-inner */
  .header .overlay-2 .bottom-line{
    display: none;
  }

  /* Order Form */
  #order .text-fields{
    grid-template-areas: 
      "name"
      "email" 
      "adress"
      "phone" 
      "select"
      "ordinal"
      "message";
  }

  /* About Us Section */
  .page-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 5rem 0;
    grid-gap: 1.5rem;
  }

  #about img{
    width: 330px;
    height: 250px;
    margin: 2.5rem 0;
  }

  .about-features .border{
    position: relative;
    left: 95px;
  }

  #team .team-grid{
    grid-template-columns: 1fr;
  }

  /* History Section */

  #history .history-grid{
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }

  .history-grid .history-image{
    display: none;
  }
}


/* Width 320 (iphone 5/ SE) */
@media(max-width: 320px){
  /* Header-Home */
  .header-content .lead{
    padding-top: 3rem;
  }

  .header-content .btn {
    margin-top: 2rem;
  }

  /* Header - A */
  .header-a h1{
    font-size: 2rem;
    padding-top: 1rem;
  }

  .header{
    height: 75vh;
  }

  .header .overlay{
    height: 75vh;
  }

  /* Header - B */

  .header-reverse .lead{
    font-size: 2rem;
    padding-top: 1rem;
  }
  
  /* Footer */
  #main-footer .box-1 h1,
  #main-footer .box-2 h1,
  #main-footer .box-3 h1{
    font-size: 1.3rem;
  }
  
  /* About Us Section */
  #about .img{
    display: none;
  }

  .about-features .border{
    display: none;
  }
}

/* Landscape 500px */
@media (max-height: 500px){
  .header-content h1 {
    font-size: 3rem;
    padding-top: 1rem;
  }

  .header-content p{
    font-size: 0.8rem;
    padding-top: 1rem;
  }

  .header-content .btn {
    margin-top: 2rem;
  }

  /* Menu - A */
  #menu-a .menu-features {
    margin-left:0;
  }

  #menu-a .menu-images-1 {
    background: url(../img/salad-menu.jpg) no-repeat center center/cover;
    height: 230px;
    width: 280px;
  }
  #menu-a .menu-images-2 {
    background: url(../img/pizza-menu.jpg) no-repeat center center/cover;
    height: 230px;
    width: 280px;
  }
  #menu-a .menu-images-3 {
    background: url(../img/burger-menu.jpg) no-repeat center center/cover;
    height: 230px;
    width: 280px;
  }
  #menu-a .menu-images-4 {
    background: url(../img/dessert-menu.jpg) no-repeat center center/cover;
    height: 230px;
    width: 280px;
  }
  #menu-a .menu-images-5 {
    background: url(../img/drink-menu.jpg) no-repeat center center/cover;
    height: 230px;
    width: 280px;
  }
  #menu-a .menu-images-6 {
    background: url(../img/seafood-menu.jpg) no-repeat center center/cover;
    height: 230px;
    width: 280px;
  }
  
  #menu-a .menu-features .overlay {
    background: rgba(24, 39, 51, 0.6);
    height: 230px;
    width: 280px;
    z-index: 10;
  }

  #menu-a .menu-features .overlay .border {
    position: relative;
    top: 70px;
    left: 85px;
    width: 100px;
    height: 100px;
  }

  /* Header - A */
  .header{
    height: 75vh;
  }

  .header .overlay{
    height: 75vh;
  }

  .header-a h1{
    font-size: 2rem;
    padding-top: 0.5rem;
  }

  .header-a p{
    font-size: 0.8rem;
    margin-top: 0;

  }

  .header-a .btn{
    margin-top: 1rem;
  }

  /* Header - B */
  .header-b p{
    font-size: 0.8rem;
  }

  .header-reverse .lead{
    font-size: 2rem;
    padding-top: 1rem;
  }

  .header-reverse .btn{
    margin-top: 1rem;
  }

  /* About Us Section */

  /* Header-inner */
  .header .overlay-2 .bottom-line{
    display: none;
  }

  .about-features .border{
    position: relative;
    left: 185px;
  }
}

/* Landscape 320px */
@media (max-height: 320px){
  .header-content h1 {
    font-size: 3rem;
    padding-top: 1rem;
  }

  .header-content p{
    font-size: 0.8rem;
    padding-top: 0;
  }

  .header-content .btn {
    margin-top: 0.5rem;
  }

  /* Header - A */
  .header{
    height: 85vh;
  }

  .header .overlay{
    height: 85vh;
  }

  .header-a h1{
    font-size: 2rem;
    padding-top: 0.5rem;
  }

  .header-a p{
    font-size: 0.8rem;
    margin-top: 0;

  }

  .header-a .btn{
    margin-top: 1rem;
  }
}